@font-face {
  font-family: "Gilroy";
  src:  local("Gilroy"),
        url("../fonts/gilroylight.woff2") format("woff2"),
        url("../fonts/gilroylight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:  local("Gilroy"),
        url("../fonts/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:  local("Open Sans"),
        url("../fonts/opensanslight.woff2") format("woff2"),
        url("../fonts/opensanslight.woff") format("woff");
        font-weight: 300;
        font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:  local("Open Sans"),
        url("../fonts/opensans.woff2") format("woff2"),
        url("../fonts/opensans.woff") format("woff");
        font-weight: 400;
        font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-gray-light: #E5E5E5;
  --basic-dark: #363636;


  --special-yellow: #F7E296;
  --special-yellow-dark: #F0C52E;
  --special-yellow-footer: #FFC600;
  --special-gray-catalog: #DCDCDC;
  --special-gray-light: #EBEBEB;
  --special-green: #91C92F;
  --toogle-gray: #C4C4C4;




  --opacity-black: rgba(0, 0, 0, 30%);
  --opacity-black-20: rgba(0, 0, 0, 20%);
  --opacity-white: rgba(255, 255, 255 , 70%);

}



/* global */

.page {
  font-family: "Open Sans";
  color: var(--basic-black);
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.bold-text {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
}

.visually-hidden {
  position: absolute;
  width: 1;
  height: 1;
  margin: -1;
  padding: 0;
  clip: rect(0 0 0 0);
}

.layout-positioner {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  position: relative;
  margin-top: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: block;
}

.button::after {
  position: absolute;
  content: "";
  height: 20%;
  width: 100%;
  display: block;
  background-color: var(--special-yellow-dark);
  top: 40%;
  left: 0;
  z-index: -1;
}

.button:hover {
  background-color: var(--special-yellow-dark);
}

/* === global === */



.main-navigation {
  position: relative;
  background-color: var(--special-yellow);
  margin-top: 39px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
  min-height: 186px;
  box-sizing: border-box;
}

.main-navigation__index {
  min-height: 300px;
}

.main-logo {
  position: absolute;
  top: -19px;
  left: 60px;
}


.user__nav {
  list-style: none;
  padding: 0;
  padding-top: 46px;
  margin: 0;
  margin-bottom: 49px;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.nav-finder-input {
  padding: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: inherit;
  border: none;
  font: inherit;

  outline: 1px solid green;
  outline-offset: -1px;
}

.nav-finder {
  position: relative;
  width: 480px;
  padding-left: 38px;
}

.nav-finder::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
}

.user__nav-user-link {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  padding-left: 35px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  outline: 1px solid tomato;
  outline-offset: -1px;
}

.user__nav-actions {
  list-style: none;
  padding: 0;
  padding-left: 57px;
  margin: 0;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  outline: 1px solid purple;
  outline-offset: -1px;
}

.user-link {
  position: relative;
  margin-right: 20px;
}

.user-link::before {
  content: "";
  position: absolute;
  left: -24px;
  top: 3px;
  width: 13px;
  height: 14px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
}


.actions-chart {
  position: relative;
}

.actions-chart::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 3px;
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-chart.svg");
  background-repeat: no-repeat;
}

.actions-cart {
  position: relative;
}

.actions-cart::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -23px;
  width: 10px;
  height: 10px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
}


.shop__nav {
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 530px 149px 139px auto;
  column-gap: 10px;
  margin-right: -0.2em;
}

.catalog-link {
  position: relative;
}

.catalog-link::after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  right: -35px;
  top: 0;
  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
}

.shop__nav > li:last-child {
  text-align: right;
}


.shop__nav-catalog {
  outline: 1px solid tomato;
  outline-offset: -1px;
  position: relative;
}

.shop__nav-wrapper {
  width: 1160px;
  background-color: var(--special-yellow);
  display: none;
  position: absolute;
  left: -60px;
  padding-left: 60px;

  padding-top: 32px;
  padding-bottom: 40px;
  box-sizing: border-box;
  z-index: 5;
}

.shop__nav-list {
  background-color: var(--special-yellow);

  width: 545px;
  box-sizing: border-box;
  margin-top: 30px;

  letter-spacing: 0px;
  text-transform: none;

  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;

  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 16px;
  column-gap: 40px;

  font-family: "Open Sans";
  color: var(--basic-black);
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;

  outline: 1px solid green;
  outline-offset: -1px;
}

.catalog-link:hover + .shop__nav-wrapper,
.shop__nav-catalog:hover  > .shop__nav-wrapper:hover,
.shop__nav-catalog:focus-within > .shop__nav-wrapper {
  display: block;
}

.shop__nav-list li {
  padding: 0;
  margin: 0;
}

.shop__nav-list li:last-child {
  grid-row: 3 / 4;
}


/* Slider */

.slider {
  min-height: 506px;
  outline: 2px solid darkblue;
  outline-offset: -2px;
  position: relative;
  top: -145px;
  margin-bottom: -38px;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__item {
  min-height: 506px;
  position: relative;
  display: none;
}

.current-slider {
  display: flex;
}

/* Slider__image */
.slider__image {
  width: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.slider__image img {
  margin-top: auto;
}

.slider__item-0 .slider__image {
  padding-left: 88px;
}

.slider__item-1 .slider__image {
  padding-top: 45px;
}

.slider__item-2 img {
  margin-top: 0;
  padding-top: 100px;
}
/* end slider__image */

/* slider__info */

.slider__info {
  width: 50%;
  box-sizing: border-box;
  padding-top: 110px;
  padding-left: 20px;
  padding-right: 60px;

  outline: 2px solid darkolivegreen;
  outline-offset: -2px;
}

.slider__counter-caption {
  font-family: "Gilroy";
  color: var(--basic-white);
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 47px;
}

.slider__info-caption::before {
  content: "";
  display: block;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  position: absolute;
  top: -58px;
  left: 0;
}

.slider__info-caption {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0em;
  z-index: 2;
  position: relative;
}


.slider__info-text {
  margin-top: 28px;
  margin-bottom: 50px;
}

.slider__controls {
  outline: 1px dashed pink;
  outline-offset: -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 28px;
  margin-bottom: 52px;
}

.slider__controls > .button {
  margin: 0;
  padding-left: 44px;
  padding-right: 42px;
}

.slider__switch-list {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slider__switch-item {
  display: block;
  width: 11px;
  height: 11px;
  background-color: inherit;
  border-color: inherit;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  margin-left: 17px;
}


.slider__switch-current {
  box-shadow: inset 0 0 0 3px var(--basic-white),
              inset 0 0 0 4px var(--basic-black);
}

.slider__table {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  font-family: "Gilroy";
  font-weight: 300;
  color: var(--basic-black);

  outline: 1px solid violet;
  outline-offset: -1px;
}

.slider__table > li {
  display: block;
  margin-right: 62px;
}

.slider__table > li:nth-child(3n) {
  margin-right: 0;
}


.slider__table-head {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
}

.slider__table-text {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}
/* end slider__info */

/* end slider */


/* page-catalog */


.page__catalog {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin-bottom: 69px;

  outline: 1px solid green;
}

.page__catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 40px;
}

.page__catalog-item {
  width: 160px;
}

.page__catalog-item:nth-child(4) {
  letter-spacing: 0;
}

.page__catalog-item a {
  position: relative;
}



.page__catalog-item a::before {
  content: "";
  display: block;
  background-color: var(--special-yellow);
  width: 160px;
  height: 160px;
  margin-bottom: 38px;
}

.page__catalog-item a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 160px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
}

.page__catalog-item > a:hover {
  opacity: 0.3;
}

.page__catalog-item a:hover::before {
  background-color: var(--special-yellow-dark);
}

.page__catalog-item a:hover::after {
  opacity: 0.3;
}

.page__catalog-item:nth-child(1) a::after {
  background-image: url("../img/icon-page-catalog-vr.svg");
}

.page__catalog-item:nth-child(2) a::after {
  background-image: url("../img/icon-page-catalog-monopods.svg");
}

.page__catalog-item:nth-child(3) a::after {
  background-image: url("../img/icon-page-catalog-action-cams.svg");
}

.page__catalog-item:nth-child(4) a::after {
  background-image: url("../img/icon-page-catalog-fitness-braslets.svg");
}

.page__catalog-item:nth-child(5) a::after {
  background-image: url("../img/icon-page-catalog-smart-watches.svg");
}

.page__catalog-item:nth-child(6) a::after {
  background-image: url("../img/icon-page-catalog-copters.svg");
}
/* end page__catalog */

/* page__services */

.page__services {
  height: 290px;
  width: 100%;
  background-color: var(--basic-gray-light);
  position: relative;
  top: 115px;
  z-index: 0;
}

.page__services > .layout-positioner {
  display: grid;
  grid-template-columns: 283px auto;
}

.services__controls-list {
  width: 100%;
  position: relative;
  top: -100px;
  padding-top: 80px;
  padding-bottom: 18px;
  min-height: 320px;
  border-right: 7px solid var(--basic-black);
  box-sizing: border-box;
  margin-bottom: 100px;
}

.services__controls-item > .button{
  box-sizing: border-box;
  text-align: center;
  min-width: 160px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  margin-bottom: 22px;
}

.services__controls-item > .button:active {
  width: 100%;
  color: var(--special-yellow);
  background-color: var(--basic-black);
}
.services__list {
  position: relative;
  top: -57px;
  padding-left: 116px;
  width: 100%;
  box-sizing: border-box;
}

.services__item {
  display: none;
}

.services-current {
  display: flex;
  justify-content: space-between;
}


.services__text-container {
  width: 575px;
  /* margin-left: 116px; */
  margin-right: auto;
  background-color: yellowgreen;
  /* position: relative;
  top: -57px; */
}

.services__text-container > h3 {
  font-family: "Gilroy";
  color: var(--basic-black);
  font-weight: 800;
  font-size: 47px;
  /* line-height: 58px; */
  /* identical to box height */
  letter-spacing: 0.2em;
}

.services__text-container > p {
  margin-top: 60px;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  /* or 200% */
  letter-spacing: 0.1em;
}

.services-delivery > img{
  margin-top: 28px;
  margin-right: 3px;
}

.services-warranty > img{
  margin-top: 10px;
  margin-right: -16px;
}

/* === end services === */


/* partners */

.partners__list {
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  column-gap: 40px;
  row-gap: 24px;
  margin-top: 205px;
}

.partners__item  {
  display: block;
  width: 260px;
  height: 100px;
  position: relative;
}

.partners__item-link::after {
  content: "";
  display: block;
  width: 260px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.partners__item-link:hover:after {
  opacity: 1;
}

.partners__item:first-child .partners__item-link::after {
  background-image: url("../img/logo-partners-dji-active.png");
}

.partners__item:nth-child(2) .partners__item-link::after {
  background-image: url("../img/logo-partners-spgadjects-active.png");
}

.partners__item:nth-child(3) .partners__item-link::after {
  background-image: url("../img/logo-partners-gopro-active.png");
}

.partners__item:last-child .partners__item-link::after {
  background-image: url("../img/logo-partners-vive-active.png");
}

/* === partners end === */


/* about us */

.about-us {
  display: grid;
  margin-top: 90px;
  margin-bottom: 77px;
  grid-template-columns: 473px 560px;
  column-gap: 127px;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.about-us h2 {
  position: relative;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-us h2::before {
  content: "";
  display: block;
  height: 7px;
  width: 80px;
  background-color: var(--basic-black);
  position: absolute;
  top: -56px;
}

.about-us p {
  margin-bottom: 40px;
}

.about-us .button {
  display: block;
  width: 260px;
  box-sizing: border-box;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.about-us__info {
  padding-top: 18px;
}

.about-us__info-list {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin-top: 60px;
  margin-bottom: 70px;
}

.about-us__info-item {
  position: relative;
  padding-left: 32px;
  margin-bottom: 14px;
}

.about-us__info-item::before {
  content: "";
  display: block;
  height: 4px;
  width: 4px;
  border: 2px solid var(--basic-gray-light);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 12px;
}

.about-us__contacts {
  height: 500px;
  padding-top: 18px;
}

.about-us__contacts img {
  margin-bottom: 28px;
}

/* === end about-us === */


/* main-footer */

  /* footer-wrapper-top */
.main-footer {
  width: 100%;
  background-color: var(--basic-dark);
  color: var(--opacity-white);
  padding-top: 46px;
  padding-bottom: 45px;
}

.footer-wrapper-top {
  display: flex;
}

.footer-wrapper-top > a {
  margin-top: 17px;
}

.footer__user-nav {
  margin-left: auto;
  display: flex;
}

.footer__user-nav li {
  margin-left: 66px;
  position: relative;
}

.footer__user-link::before {
  content: "";
  position: absolute;
  left: -23px;
  top: 3px;
  width: 13px;
  height: 14px;
  background-image: url("../img/icon-user-footer.svg");
  background-repeat: no-repeat;
}

.footer__actions-chart::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 3px;
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-chart-footer.svg");
  background-repeat: no-repeat;
}

.footer__actions-cart::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -23px;
  width: 10px;
  height: 10px;
  background-image: url("../img/icon-cart-footer.svg");
  background-repeat: no-repeat;
}

  /* footer-wrapper-center  */
.footer-wrapper-center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: bottom;
}

.footer__link-list {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 35px;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}


.footer__adress {
  font-family: "Open Sans";
  color: var(--basic-white);
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  margin-top: 35px;
}

.footer__phone {
  text-align: right;
  font-family: "Open Sans";
  color: var(--basic-white);
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin-top: 36px;
}

.footer__link-item {
  margin-top: 18px;
  padding-top: 17px;
}

/* .footer-wrapper-bottom */

.footer-wrapper-bottom {
  display: flex;
  margin-top: 55px;
  position: relative;
}

.footer-wrapper-bottom::before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-footer);
  position: absolute;
  top: 9px;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-left: 512px;
}

.social-icon {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-bottom: 20px;
}

.social-facebook {
  background-image: url("../img/icon-social-facebook.svg");
}

.social-instagram {
  background-image: url("../img/icon-social-instagram.svg");
}

.social-twitter {
  background-image: url("../img/icon-social-twitter.svg");
}

.footer__academy-link {
  display: block;
  width: 27px;
  height: 34px;
  background-image: url("../img/logo-html.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
}





/* Catalog */
.catalog-wrapper {
  padding-left: 60px;
  box-sizing: border-box;
}

.page-caption {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin-top: 45px;
  margin-bottom: 30px;
}

.breadcrumps {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.breadcrumps li {
  position: relative;
  margin-right: 40px;
}

.breadcrumps a {
  opacity: 0.3;
}

.breadcrumps li:not(:last-child)::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../img/icon-breadcrumps-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  right: -26px;
  opacity: 1;
}

.catalog-wrapper-captions {
  display: flex;
  margin-top: 50px;
}

.catalog-head-container {
  width: 100%;
  background: linear-gradient(to right, var(--special-gray-catalog) 0%, var(--special-gray-catalog) 28%, var(--basic-gray-light) 28%, var(--basic-gray-light) 100%);
}

.filter-header {
  width: 268px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--special-gray-catalog);
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting-caption {
  width: 272px;
  box-sizing: border-box;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 72px;
  background-color: var(--basic-gray-light);
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.catalog__sorting-list {
  display: flex;
  align-items: center;
  width: 560px;
  justify-content: space-between;
}

.catalog__links-list {
  display: flex;
}

.catalog__links-list li {
  margin-right: 30px;
}

.catalog__link-toggle {
  display: flex;
  justify-content: space-between;
  width: 50px;
  background-color: lime;
  margin-left: auto;
}

.toggle-sort-ascending {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-catalog-sorting-toggle.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.toggle-sort-despending {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-catalog-sorting-toggle.svg");
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}




/* catalog filter */

.catalog-filter {
  background-color: var(--basic-gray-light);
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-top: 86px;
  padding-right: 68px;
}

.catalog-filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-caption {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  width: 100%;
  background-color: lawngreen;
  position: relative;
  padding: 0;
}

.filter-caption::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--basic-black);
  position: absolute;
  top: -16px;
}

.range-filter {
  margin-bottom: 53px;
}

.range-controls {
  height: 20px;
  box-sizing: border-box;
  background-color: royalblue;
  padding-top: 9px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 6px;
}

.range-scale {
  height: 2px;
  background-color: var(--opacity-black-20);
  margin-top: auto;
  margin-bottom: auto;
}

.range-bar {
  width: 67%;
  height: 100%;
  background: var(--special-green);
}

.range-toggle {
  width: 4px;
  height: 4px;
  background-color: var(--toogle-gray);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);

  position: absolute;
  top: 0;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 114px;
}

.price-controls input {
  border: none;
  background: #91C92F;
  width: 40px;
  font: inherit;
  padding: 0;
  padding-left: 3px;
}

.max-price {
  margin-left: 34px;
}

.filter-colors-list {
  margin-top: 32px;
  margin-bottom: 57px;
}

.filter-colors-list li {
  padding-left: 40px;
  line-height: 19px;
  position: relative;
  margin-bottom: 20px;
}

.color-checkbox::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: -2px;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
}

.checkbox:checked + .color-checkbox::before {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.07695 3.75L0.384644 5.5L5.46157 10.75L13.9231 2L12.2308 0.25L5.46157 7.25L2.07695 3.75Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-colors-item:focus-within .color-checkbox::before {
  outline: 2px solid var(--basic-black);
  outline-offset: 2px;
}

.filter-bluetooth-list {
  margin-top: 32px;
}

.filter-bluetooth-list li {
  padding-left: 40px;
  line-height: 19px;
  position: relative;
  margin-bottom: 20px;
}

.bluetooth-radio::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: inherit;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: 0;
}

.radio:checked + .bluetooth-radio::before {
  box-shadow: inset 0 0 0 6px var(--basic-gray-light),
              inset 0 0 0 10px var(--basic-black);
}

.filter-bluetooth-item:focus-within > .bluetooth-radio::before {
  outline: 2px solid var(--basic-black);
  outline-offset: 2px;
}


.button-filter {
  width: 200px;
  z-index: 2;
  border: none;
  background-color: inherit;
  margin-top: 27px;
  padding-left: 37px;
  padding-right: 38px;
}
/* === end catalog filter === */




/* catalog-content */

.catalog-content-container {
  width: 100%;
  background: linear-gradient(to right, var(--basic-gray-light) 0%, var(--basic-gray-light) 28%, var(--basic-white) 28%, var(--basic-white) 100%);
}

.catalog-wrapper-content {
  display: grid;
  grid-template-columns: 268px 832px;
}

.catalog__content {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid salmon;
}


.catalog__product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 48px;
  padding-top: 70px;
  padding-left: 72px;
}

.catalog__product-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 23px;
  padding-right: 3px;
}

.product__info-description {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.product__info-price {
  font-family: "Gilroy";
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin: 0;
}



/* catalog-pagination-container */
.catalog-pagination-container {
  display: flex;
  padding: 25px 30px;
  margin-top: 40px;
  margin-left: 72px;

  background-color: var(--special-gray-light);
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pagination__list {
  width: 300px;
  display: flex;
  justify-content: center;
  outline: 1px solid salmon;
  margin-left: 140px;
}

.pagination__list a {
  outline: 1px solid salmon;
  margin-right: 15px;
  margin-left: 15px;
}

.pagination__forward {
  margin-left: auto;
  margin-right: -0.1em;
}
/* === end catalog-pagination-container === */

/* ====== end catalog-content ====== */
